// Colors
$background-color: rgb(240, 240, 240)
$header-background-color: #30336b
$header-background-color-bright: lighten($header-background-color, 10%)
$section-background: white
$accent-color: #95afc0
$shadow-color: rgba(0, 0, 0, 0.1)
$negative-color: #eb4d4b
$positive-color: #6ab04c
$subtitle-color: #323232
$header-text-color: white

// Fonts
$title-font: "Varela Round"
$ui-font: "Varela Round"
$body-font: "Open Sans"

// Effects
$light-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.1)
$light-shadow-highlighted: 0px 10px 40px -10px rgba($accent-color, .25)

/*
 *  STYLESHEET
 */
@font-face
  font-family: League Spartan
  src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype")


/*
 *  ANIMATIONS
 */
@keyframes slideDownIn
  0%
    transform: translateY(-10px)
  100%
    transform: translateY(0px)

@keyframes slideUpIn
  0%
    transform: translateY(10px)
  100%
    transform: translateY(0px)

@keyframes slideDownOut
  0%
    transform: translateY(0px)
  100%
    transform: translateY(10px)

@keyframes slideUpOut
  0%
    transform: translateY(0px)
  100%
    transform: translateY(-10px)

@keyframes zoomIn
  0%
    transform: scale(0.95)

  100%
    transform: scale(1)

@keyframes zoomOut
  0%
    transform: scale(1)

  100%
    transform: scale(0.95)

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1

  100%
    opacity: 0

@keyframes deleteItem
  0%
    transform: scale(1)
    opacity: 1

  100%
    transform: scale(0.5)
    opacity: 0

body
  background: $background-color
  margin: 0
  font-family: $body-font

.header
  background: $header-background-color
  padding: 2em
  color: $header-text-color
  box-shadow: $light-shadow

.area
  padding: 2em
  min-width: 40em
  margin: 0 auto
  h1
    margin: 0
    font-family: $title-font
  h2
    margin: 0
    font-family: $ui-font
    color: $accent-color
    margin-bottom: 0.5em
    font-weight: normal

.section
  padding: 2em
  &.title
    padding: 0
    margin: 2em
    transition: 0.1s

.entry
  display: inline-block
  transition: 0.2s
  margin: 0 1em
  vertical-align: top
  margin-bottom: 2em
  background: $section-background
  border-radius: 0.3em
  box-shadow: $light-shadow
  width: 20.5em
  padding-bottom: 0
  &.today
    border: 1px solid lightgrey
  &:hover
    transform: translateY(-3px)
    box-shadow: $light-shadow-highlighted

.entry-header
  padding: 2em
  padding-bottom: 0

.event
  transition: margin-top .2s, opacity .05s
  font-size: 22px
  padding: 0.5em 0
  border-bottom: 1px solid rgba(0, 0, 0, .05)
  color: $subtitle-color
  .buttons
    float: right
    opacity: 0
    transition: opacity .2s
    cursor: pointer
  &.last
    border-bottom: none
    padding-bottom: 0

.comments
  color: #b4b4b4
  font-size: 16px
  font-weight: normal
  margin-top: 0.5em
  overflow-wrap: break-word

.entry
  .event
    i
      transition: .1s
      padding: .1em
      opacity: .9
      &:hover
        color: $accent-color
      &.caution
        &:hover
          color: $negative-color

  .add-event
    transition: .1s
    padding: 1.5em 0 2em 0
    font-size: 18px
    font-family: $ui-font
    color: $accent-color
    opacity: .75
    i
      margin-right: .5em

.event-wrap
  padding: 0 2em
  &:hover
    .event
      .info
        color: $accent-color
      .buttons
        opacity: 1
        transform: translateY(0)
    .add-event
      opacity: 1
      color: $accent-color
  &.clickable
    cursor: pointer
  &.slide-up-in .buttons
    animation: slideUpIn .2s linear
  &.slide-down-in .buttons
    animation: slideDownIn .2s linear
  &.slide-up-out .buttons
    animation: slideUpOut .2s linear
  &.slide-down-out .buttons
    animation: slideDownOut .2s linear

.new-entry
  cursor: pointer
  background: transparent
  border-radius: .25em
  text-align: center
  box-shadow: none
  color: grey
  margin-bottom: 3em
  font-family: $ui-font
  font-size: 18px
  overflow: hidden
  height: 100px
  padding: 0
  .new-entry-view
    height: 100px
    transition: .2s
  &:hover
    color: $header-background-color

.flying
  position: fixed
  width: 100vw
  height: 100vh
  display: flex
  z-index: 999
  opacity: 0
  transition: .2s

.centered
  align-self: center
  margin: 0 auto

.modal
  background: $section-background
  min-width: 10em
  max-width: 33em
  min-height: 5em
  border-radius: 0.25em
  box-shadow: $light-shadow
  overflow: hidden
  font-family: $ui-font
  font-size: 18px
  padding: 1.5em 2em
  .section
    margin: 0
    padding: 0
    &.message
      padding: .5em 0
      padding-bottom: 1.5em
  .button
    padding: 0.5em 1em
    margin-right: 0.5em
    display: inline-block
    border-radius: 0.25em
  .time-title
    display: flex
    align-items: center
  input
    font-family: "Open Sans"
    border: none
    font-size: 22px
    padding: .2em
    &:focus
      outline: none
    &.time
      flex-grow: 1
    &.title
      flex-grow: 5
    &.comments
      font-size: 18px
      width: 100%
    &:hover
      &::placeholder
        opacity: .75
    &:focus
      &::placeholder
        opacity: 1
    &::placeholder
      transition: .1s
      opacity: .5
  .event
    font-family: $body-font
  &.neutral
    .button.confirm
      background: $accent-color
      color: white
  &.negative
    .button.confirm
      background: $negative-color
      color: white
  &.positive
    .button.confirm
      background: $positive-color
      color: white

.button
  transition: 0.1s
  cursor: pointer
  border: 1px solid transparent
  &:hover
    transform: translateY(-3px)
    opacity: .9
  &:active
    transition: .05s
    transform: scale(0.95)
  &.cancel
    background: lightgrey

.curtain
  visibility: hidden
  .flying
    animation: fadeOut .1s ease-in-out
    animation-fill-mode: forwards
  .modal
    animation: zoomOut .1s ease-in
    animation-fill-mode: forwards
  &.visible
    visibility: visible
    .flying
      animation: fadeIn .1s ease-in-out
      animation-fill-mode: forwards
    .modal
      animation: zoomIn .1s ease-out
  &.dark
    .flying
      background: rgba(0, 0, 0, .5)

.fade-in
  animation: fadeIn .1s ease-in-out
  animation-fill-mode: forwards

.fade-out
  animation: fadeOut .1s ease-in-out
  animation-fill-mode: forwards

.zoom-in
  animation: zoomIn .1s ease-in-out
  animation-fill-mode: forwards

.zoom-out
  animation: zoomOut .1s ease-in-out
  animation-fill-mode: forwards

.delete-item
  animation: deleteItem .1s ease-in-out
  animation-fill-mode: forwards

.zoom-fade-in
  animation: zoomIn .1s ease-in-out, fadeIn .1s ease-in-out
  animation-fill-mode: forwards

.zoom-fade-out
  animation: zoomOut .1s ease-in-out, fadeOut .1s ease-in-out
  animation-fill-mode: forwards

.zoom-fade-in-slow
  animation: zoomIn .3s ease-out, fadeIn .3s ease-out
  animation-fill-mode: forwards

.zoom-fade-out-slow
  animation: zoomOut .3s ease-out, fadeOut .3s ease-out
  animation-fill-mode: forwards

.delayed
  animation-delay: .15s
  transition-delay: .15s

.hidden
  visibility: hidden

.template
  display: none

.hour-selection
  margin: .5em 0

.hour-bubble
  display: inline-block
  font-size: 14px
  border: 1px solid lightgrey
  padding: .5em
  &:hover
    background: lightgrey

input[type="time"]::-webkit-clear-button
  display: none

.no-scroll
  overflow: hidden

.bubble
  opacity: 0
  background: $header-background-color
  color: white
  position: absolute
  box-shadow: $light-shadow
  text-align: center
  top: 45vh
  left: 45vw
  border-radius: 4px
  border: 2px solid $header-background-color
  font-family: $ui-font
  z-index: 9999
  visibility: hidden
  .option
    transition: .1s
    background: $header-background-color
    padding: .5em 2em
    cursor: pointer
    &:hover
      background: $header-background-color-bright
    &.selected
      background: $accent-color
      color: $header-background-color
  .column
    transition: .2s
    height: 1em
    overflow-y: scroll
    display: inline-block
    &.left
      border-right: 1px solid rgba(255, 255, 255, 0.1)
    &::-webkit-scrollbar
      display: none
    .spacer
      height: 44%
  &:after
    content: ''
    position: absolute
    top: 0
    left: 50%
    width: 0
    height: 0
    border: 7px solid transparent
    border-bottom-color: $header-background-color
    border-top: 0
    margin-left: -7px
    margin-top: -7px
  &.visible
    visibility: visible
    .column
      height: 14em
